* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
}
nav {
    display: flex;
    background: #C1C1C1;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    font-family: Sans-Serif;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    background: aliceblue;
}

.logo {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 40px;


}
nav ul li:nth-child(4) {
    justify-content: center;
}

nav ul li:nth-child(6) {
    margin-left: auto;
}