.fancy-header {
    color: purple;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h2 {
    color: green;
    text-decoration: underline;
}

body {
    background-color: tan;
    background-image: url("../images/sky.png");
    background-size: contain;
    font-family: 'Lobster', cursive;
}

ul {
    list-style-type: square;
}

table td, table tr {
    padding: 10px;
    font-size: 20px;
}

a:link {
    color: chartreuse;
}


a:visited {
    color: darkred;
}

a:hover {
    color: aqua;
}

a:active {
    color:chartreuse;
}